body {
  margin: 0;
  padding: 0;
  background: #121212;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page {
  display: none;
  width: 90%;
  max-width: 600px;
  background: #1f1f1f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
  text-align: center;
}
.page.active {
  display: block;
}
button {
  background: greenyellow;
  padding: 12px 2px;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background: #ffa726;
}
/* Flexbox for options */
.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 25px;
}
.option {
  padding: 14px;
  background: grey;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
}
.option:hover {
  background: #444;
}
.correct {
  background: #4caf50 !important;
}
.wrong {
  background: #e53935 !important;
}
/* Mobile Design */
@media (max-width: 450px) {
  button {
    width: 100%;
  }
  .option {
    font-size: 15px;
    padding: 12px;
  }
}
